<div class="content">
        <div class="container-fluid">
          <div class="row">
                <div class="col-md-12">
                        <form id="TypeValidation" class="form-horizontal" action="/saving" method="POST">
                          <div class="card ">
                            <div class="card-header card-header-rose card-header-text">
                              <div class="card-text">
                                <h4 class="card-title">Book Lab-Equipment</h4>
                              </div>
                            </div>
                            <div class="card-body ">
                              <div class="row">
                                <label class="col-sm-2 col-form-label" >Equip Name </label>
                                <div class="col-sm-7">
                                  <div class="form-group">
                                    <input class="form-control" type="text" name="equipName" value = "" required="true" />
                                  </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                  <code>required</code>
                                </label>
                              </div>
                              <div class="row">
                                <label class="col-sm-2 col-form-label">Equip Description</label>
                                <div class="col-sm-7">
                                  <div class="form-group">
                                    <input class="form-control" type="text" name="equipDescription" required="true" />
                                  </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                  <code>required</code>
                                </label>
                              </div>
                              <div class="row">
                                <label class="col-sm-2 col-form-label">Equip barcode</label>
                                <div class="col-sm-7">
                                  <div class="form-group">
                                    <input class="form-control" type="text" name="barcode" required="true" />
                                  </div>
                                </div>
                                <label class="col-sm-3 label-on-right">
                                  <code>required</code>
                                </label>
                              </div>
                            </div>
                            <div class="card-footer ml-auto mr-auto">
                              <button type="submit" class="btn btn-rose">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
          </div>
        </div>
